.container {
    width: 1350px;
    height: 600px;
    background-color: aliceblue;
    display: flex;
  }
  img {
    width: 300px;
    height: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 70px;
  }
  p {
    margin-left: 70px;
  }
  h1 {
    margin-left: 70px;
  }
  .image2 img {
    display: flex;
    margin-top: 170px;
    margin-left: 130px;
  }
  .img2 {
    margin-left: 130px;
  }
  .imag2 {
    margin-left: 130px;
  }
  .image3 img {
    display: flex;
    margin-left: 1000px;
   margin-top: -560px;
}
  .img3 {
    margin-left: 1000px;
  }
  .imag3 {
    margin-left: 1000px;
  }